h1, h2, p {
    text-align: center;
}
/*                             -- comment created to visualize div elements --
body {
    background-color: burlywood;
}
*/
#menu {
    width: 300px;
    background-color: burlywood;
}